body {
    text-align: center;
    font-family: sans-serif;
}

#joyDiv {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.button-switch {
    padding: 7px;
}

.button-switch-disabled {
    color: red;
}

.button-switch-enabled {
    color: green;
    font-weight: bold;
}

#animation-select {
	margin-top: 25px;
}

#animation-toggle {
	margin-top: 3px;
}

#control-state {
	color: red;
	font-weight: bold;
	margin-top: 0px;
}

#socket-state {
	margin-bottom: 0px;
}